*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header ----------------------------------*/

.logo img{
    width: 7rem;
}

/*main ------------------------------------*/

.banner1{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner3.jpeg");
}
.banner2{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/whey-protein-banner.jpeg");
}
.title{
    position:absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:5px;
}
.title__button{
    background-color: #019980;
    color: white;
    text-align: center;
}
.button-shop{
    background-color: yellow;
    color: black;
}
.title__button:hover{
    background-color: rgb(111, 20, 237);
    color: white;
}
h1{
    font-family:'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: bolder;
    color: white;
    text-align: center;
}
.title__button{
    text-decoration: none;
    font-size: 1rem;
}

/**Recipes categories home**/

.container1{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat (6, 1fr);
    grid-template-rows: repeat (3, 1fr);
    grid-template-areas:
    "recipes recipes recipes recipes recipes recipes"
    "cat1 cat1 cat2 cat2 cat3 cat3"
    "newsletter newsletter newsletter newsletter newsletter newsletter";
}
.recipes{
    grid-area: recipes;
}
.recipes h2{
    font-family:'Roboto', sans-serif;
    font-size: 1.5rem;
    color: black;
    font-weight: normal;
    text-align: center;
    padding: 2%;
}
.cat1{
    height: auto;
    grid-area: cat1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #019980;
    padding: 15%;
    margin: 12px;
    transition: all 0.2s ease;
}
.cat2{
    height: auto;
    grid-area: cat2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #019980;
    padding: 15%;
    margin: 12px;
    transition: all 0.2s ease;
}
.cat3{
    height: auto;
    grid-area: cat3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #019980;
    padding: 15%;
    margin: 12px;
    transition: all 0.2s ease;
}
.cat1:hover{
    background-color: #005648;
    transform: scale(1.08);
}
.cat2:hover{
    background-color: #005648;
    transform: scale(1.08);
}
.cat3:hover{
    background-color: #005648;
    transform: scale(1.08);
}

/*Newsletter----------------------------*/
.newsletter{
    height: auto;
    grid-area: newsletter;
    padding: 3%;
}
#newsletter{
    background-color: white;
    text-align: center;
    align-content: center;
    padding: 2%;
    color: black;
    font-weight: lighter;
    font-family:'Roboto', sans-serif;
}
.containernews1 h3{
    font-size: 3rem;
    color: black;
    font-weight: lighter;
}
.containernews1 p{
    font-weight: lighter;
}
.containernews2 input{
    margin-inline: 1.3rem;
    margin-top: 1.5%;
    border: double;
    border-color: #019980;
    padding: 0.5rem;
    width: 17rem;
    background-color: white;
}
.containernews3 input{
    margin-top: 3%;
    font-size: 1rem;
    background-color: grey;
    border: none;
    color:  white;
    padding: 0.8rem;
    width: 10rem;
    font-size: 1rem;
    font-weight: bold;
}
.containernews3 input:hover{
    background-color: rgb(111, 20, 237);
    color: white;
}

/*footer-------------------------------*/

/** Social media icons footer**/

.footer{
    border-top: rgb(177, 176, 176) 1px solid;
    color: black;
    padding-top: 15px;
}
.social{
    display: flex;
    justify-content: center;
  }
  
  .social img{
      width: 4rem;
      padding-inline: 1rem;
      margin-top: 10%;
      margin-bottom: 15%;
  }
  
  h5{
      font-family:'Roboto', sans-serif;
      font-weight: normal;
      display: flex;
      justify-content: center;
      font-size: 1rem;
      padding-bottom: 1.5rem;
  }

/*landing what is a calorie deficit*/

.mainCD{
    display: grid;
    margin: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr auto auto;
    grid-template-areas: 
    "info info info info calculator calculator"
    "recipes2 recipes2 recipes2 recipes2 recipes2 recipes2"
    "cat1 cat1 cat2 cat2 cat3 cat3";
}
.info{
    grid-area: info;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    font-family:'Roboto', sans-serif;
}
.info img{
    height: 600px;
    padding: 25px;
}
.info p{
    text-align: justify;
}
.calculator{
    grid-area: calculator;
    margin: 10px;
    background: rgb(245, 245, 105);
    background-image: url(../img/background-yellow.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: rgb(93, 92, 92);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-family:'Roboto', sans-serif;
}
.calculator h4{
    font-size: 2.5rem;
    font-weight:900;
    margin: 10px;
    padding-bottom: 50px;
}
.calculator form{
    text-align: start;
}
aside form{
    display: flex;
    flex-direction: column;
}
form p{
    font-weight: bold;
    font-size: 1.2rem;
}
.calcCD{
    border: 2px solid black;
    background-color: transparent;
    color: rgb(93, 92, 92);
    padding: 15px;
    font-size: 1rem;
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 40px;
}
.calcCD:hover{
    cursor: pointer;
    background-color: rgb(111, 20, 237);
    color: white;
    border: none;
}
.recipes2{
    grid-area: recipes2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
    height: 130px;
}

/*landing recipes*/

.banner__recipes{
    display: flex;
}
.title__lowcalories{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/lowcalories-banner-recipes.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 500px;
    position: relative;
}
.title__highprotein{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/highprotein-banner-recipes.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 500px;
    position: relative;
}
.title__lowfat{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/lowfat-banner-recipes.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 500px;
    position: relative;
}
.title__text__recipes{
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text__recipes{
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    padding: 50px;
    font-size: 1.2rem;
    text-align: justify;
}
.recipes__cards__lowcalories{
    padding: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
}
.recipe-title{
    font-weight: bold;
    font-size: 1.2rem;
}
.protein__colour{
    background-color: rgb(246, 233, 177);
}
.carbs__colour{
    background-color: rgb(187, 250, 238);
}
.fats__colour{
    background-color: rgb(245, 202, 245);
}
.other__categories{
    display: flex;
    justify-content: center;
}
.landing__recipes{
    height: 250px;
    width: 250px;
    margin: 20px;
    padding: 0px;
}
.landing__recipes img{
   width: 8rem;
}
.check__also{
    text-align: center;
    padding: 20px;
}

/*landing nutritional information*/

.nutriInfo{
    text-align: justify;
    margin: 50px;
    font-family: 'Roboto', sans-serif;
}
.nutriInfo h1{
    margin: 40px;
    color: black;
}
.infoMacros{
    margin-top: 40px;
    padding: 15px;
}

.protein__button{
    background-color: rgb(246, 233, 177);
    font-weight: 900;
    font-size: 2rem;
}
.protein__bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.carbs__button{
    background-color: rgb(187, 250, 238);
    font-weight: 900;
    font-size: 2rem;
}
.carbs__bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.fats__button{
    background-color: rgb(245, 202, 245);
    font-weight: 900;
    font-size: 2rem;
}
.fats__bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

/*landing calculator*/
.calculator h4{
    margin: 10px;
}
.form{
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: left;
}
.form1{
    display: flex;
    flex-direction: column;
    margin-inline: 40px;
}
.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    border: none;
    padding: 50px;
    margin: 10px;
    text-overflow: none;
    line-height: 1.5;
}
.result h3{
    padding: 5px;
}
.resultCal{
    background-color: yellow;
    height: 1rem;
    padding: 5px;
}
.faqs{
    text-align: center;
    font-weight: 900;
}

/*landing shop*/

.main__shop{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px;
}
.shakers__banner{
    margin: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 30%;
    min-height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/shaker-banner.webp)
}
.whey__banner{
    margin: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 30%;
    min-height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/wheyprotein-banner.webp)
}
.scales__banner{
    margin: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 30%;
    min-height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/scales-banner.jpeg)
}
.title__shop{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
    font-weight: 500;
}
.shakers__banner:hover{
    transform: scale(1.05);
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/shaker-banner.webp);
}
.shakers__banner:hover .title__shop{
    background-color: white;
    color: black;
}
.whey__banner:hover{
    transform: scale(1.05);
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/wheyprotein-banner.webp);
}
.whey__banner:hover .title__shop{
    background-color: white;
    color: black;
}
.scales__banner:hover{
    transform: scale(1.05);
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/scales-banner.jpeg);
}
.scales__banner:hover .title__shop{
    background-color: white;
    color: black;
}

/*responsive----------------------------*/

/*responsive tablet horizontal */
@media screen and (max-width: 934px){
    .container1 {
        margin: 7px;
        grid-template-columns: repeat (2, 1fr);
        grid-template-rows: repeat (7, 1fr);
        grid-template-areas:
        "recipes recipes"
        "cat1 cat1"
        "cat2 cat2"
        "cat3 cat3"
        "newsletter newsletter"
        "news news"
        "news news"
    }
    .recipes{
        padding: 5%;
    }
    .cat1,.cat2,.cat3{
        margin: 15px;
    }
    .news{
        flex-direction: column;
        height: auto;
        grid-area: news;
    }
    .news1{
        display: none;
    }
    .news3{
        display: flex;
        background-color: #019980;
        align-items: center;
        justify-content: center;
    }
    .news3 img{
        width: 350px;
        height: 350px;
        padding: 10px;
    }
    .news2{
        width: 100%;
    }
    .buttons{
        display: flex;
        flex-direction: column;
    }
    .recipes__cards__lowcalories{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "card1 card2"
        "card3 card4";
        gap: 10px;
    }
    .card1{
        grid-area: card1;
    }
    .card2{
        grid-area: card2;
    }
    .card3{
        grid-area: card3;
    }
    .card4{
        grid-area: card4;
    }
    .card{
        margin: auto;
    }
    .banner__recipes{
        display: block;
    }
    .title__lowcalories,.title__highprotein,.title__lowfat,.text__recipes{
        width: 100%;
    }
    .resultList{
        position: relative;
        left: auto;
        top: auto;
        background-color: white;
        text-align: start;
    }
    .row__recipes{
        display: block;
    }
    .main__shop{
        flex-direction: column;
        margin: 10px;
    }
    .shakers__banner,.whey__banner,.scales__banner{
        width: 100%;
    }

}
/*responsive tablet horizontal */
@media screen and (max-width: 768px){
    .mainCD{
       display: block;
       margin: 0;
    }
    .calculator{
        border-radius: 0px;
        width: 100%;
    }
    .form1{
        display: flex;
        flex-direction: column;
        margin-inline: 20px;
    }
    .nutriInfo h1{
        margin:4px;
        padding: 7px;
        text-align: center;
        font-size: 3rem;
    }
    .calculator{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .form{
        display: block;
    }
    .recipes__cards__lowcalories{
        display: block;
        margin: auto;
        padding: 0;
    }
    .card{
        margin-top: 10px;
    }
    .text__recipes{
        margin: auto;
        padding: 20px;
     }
     .other__categories{
        flex-direction: column;
        align-items: center;
     }
}

/*responsive mobile*/
@media screen and (max-width: 428px){
    .title{
        width: 300px;
    }
    h1{
        font-size: 3rem;
    }
    h2{
        text-align: center;
        padding: 20px;
        font-weight: normal;
    }
     .info img{
        height: 300px;
        width: auto;
     }
}


