* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto'; }
  body h1 {
    font-weight: 900;
    font-size: 4rem;
    text-align: center; }

header .logo img {
  width: 7rem; }

/*index------------------------------------------*/
main div div div .banner1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner3.jpeg"); }
  main div div div .banner1 .title {
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px; }
    main div div div .banner1 .title h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 4rem;
      font-weight: bolder;
      color: white;
      text-align: center; }
      main div div div .banner1 .title h1 .title__button {
        background-color: #019980;
        border-radius: 30px;
        color: white;
        text-decoration: none;
        font-size: 1rem; }
        main div div div .banner1 .title h1 .title__button:hover {
          background-color: #6f14ed; }

main div div div .banner2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/whey-protein-banner.jpeg"); }
  main div div div .banner2 .title {
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px; }
    main div div div .banner2 .title h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 4rem;
      font-weight: bolder;
      color: white;
      text-align: center; }
      main div div div .banner2 .title h1 .button-shop {
        background-color: yellow;
        border-radius: 30px;
        color: black;
        text-decoration: none;
        font-size: 1rem; }
        main div div div .banner2 .title h1 .button-shop:hover {
          background-color: #6f14ed;
          color: white; }

/* section index*/
.container1 {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat 6, 1fr;
  grid-template-rows: repeat 3, 1fr;
  grid-template-areas: "recipes recipes recipes recipes recipes recipes" "cat1 cat1 cat2 cat2 cat3 cat3" "newsletter newsletter newsletter newsletter newsletter newsletter"; }
  .container1 .recipes {
    grid-area: recipes; }
    .container1 .recipes h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 1.5rem;
      color: black;
      font-weight: normal;
      text-align: center;
      padding: 2%; }
  .container1 .cat1 {
    height: auto;
    grid-area: cat1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #019980;
    padding: 15%;
    margin: 12px;
    transition: all 0.2s ease; }
    .container1 .cat1:hover {
      background-color: #005648;
      transform: scale(1.08); }
  .container1 .cat2 {
    height: auto;
    grid-area: cat2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #019980;
    padding: 15%;
    margin: 12px;
    transition: all 0.2s ease; }
    .container1 .cat2:hover {
      background-color: #005648;
      transform: scale(1.08); }
  .container1 .cat3 {
    height: auto;
    grid-area: cat3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #019980;
    padding: 15%;
    margin: 12px;
    transition: all 0.2s ease; }
    .container1 .cat3:hover {
      background-color: #005648;
      transform: scale(1.08); }

.newsletter {
  height: auto;
  grid-area: newsletter;
  padding: 3%; }
  .newsletter #newsletter {
    background-color: white;
    text-align: center;
    align-content: center;
    padding: 2%;
    color: black;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif; }
    .newsletter #newsletter .containernews1 h3 {
      font-size: 3rem;
      color: black;
      font-weight: lighter; }
    .newsletter #newsletter .containernews1 p {
      font-weight: lighter; }
    .newsletter #newsletter .containernews2 input {
      margin-inline: 1.3rem;
      margin-top: 1.5%;
      border: double;
      border-color: #019980;
      padding: 0.5rem;
      width: 17rem;
      background-color: white; }
    .newsletter #newsletter .containernews3 input {
      margin-top: 3%;
      font-size: 1rem;
      background-color: grey;
      border-radius: 30px;
      border: none;
      color: white;
      padding: 0.8rem;
      width: 10rem;
      font-size: 1rem;
      font-weight: bold; }
      .newsletter #newsletter .containernews3 input:hover {
        background-color: #6f14ed;
        color: white; }

/*landing calorie deficit-------------------------*/
.mainCD {
  display: grid;
  margin: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr auto auto;
  grid-template-areas: "info info info info calculator calculator" "recipes2 recipes2 recipes2 recipes2 recipes2 recipes2" "cat1 cat1 cat2 cat2 cat3 cat3"; }
  .mainCD .info {
    grid-area: info;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    font-family: 'Roboto', sans-serif; }
    .mainCD .info h1 {
      margin-bottom: 50px; }
    .mainCD .info img {
      height: 600px;
      padding: 25px; }
    .mainCD .info p {
      text-align: justify; }
    .mainCD .info li {
      width: 80%;
      padding: 10px; }
      .mainCD .info li span {
        font-weight: bold; }

.recipes2 {
  grid-area: recipes2;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  height: 130px; }

.calorie_landing {
  display: flex;
  justify-content: center;
  align-items: center; }
  .calorie_landing a {
    background-color: #019980;
    padding: 15px;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem; }
    .calorie_landing a:hover {
      background-color: #6f14ed; }

#calculator__landingCalorie {
  flex-direction: column; }
  #calculator__landingCalorie .calculator__items {
    margin-top: 70px;
    flex-direction: column; }
    #calculator__landingCalorie .calculator__items .calculator__gender, #calculator__landingCalorie .calculator__items .calculator__age, #calculator__landingCalorie .calculator__items .calculator__weight, #calculator__landingCalorie .calculator__items .calculator__activity, #calculator__landingCalorie .calculator__items .calculator__goal {
      padding: 20px;
      border: none; }
    #calculator__landingCalorie .calculator__items .calculator__gender {
      align-items: center; }
      #calculator__landingCalorie .calculator__items .calculator__gender div {
        width: fit-content;
        padding: 0; }

.cat1 {
  height: auto;
  grid-area: cat1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #019980;
  padding: 15%;
  margin: 12px;
  transition: all 0.2s ease; }
  .cat1:hover {
    background-color: #005648;
    transform: scale(1.08); }

.cat2 {
  height: auto;
  grid-area: cat2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #019980;
  padding: 15%;
  margin: 12px;
  transition: all 0.2s ease; }
  .cat2:hover {
    background-color: #005648;
    transform: scale(1.08); }

.cat3 {
  height: auto;
  grid-area: cat3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #019980;
  padding: 15%;
  margin: 12px;
  transition: all 0.2s ease; }
  .cat3:hover {
    background-color: #005648;
    transform: scale(1.08); }

/*landing nutritional info---------------------------------*/
.nutriInfo {
  text-align: justify;
  margin: 50px;
  font-family: 'Roboto', sans-serif; }
  .nutriInfo .info1 {
    display: flex; }
    .nutriInfo .info1 img {
      padding: 20px;
      margin: 20px; }
    .nutriInfo .info1 .nutri__text {
      padding: 20px;
      margin: 20px;
      display: flex;
      flex-direction: column; }
      .nutriInfo .info1 .nutri__text h1 {
        margin: 40px;
        color: black; }
      .nutriInfo .info1 .nutri__text h2 {
        color: #444343;
        font-size: 1.3rem; }
        .nutriInfo .info1 .nutri__text h2 span {
          font-weight: bold; }

div div h2 .protein__button {
  background-color: #abf7df;
  font-weight: 900;
  font-size: 2rem; }

div div h2 .carbs__button {
  background-color: #c7fbea;
  font-weight: 900;
  font-size: 2rem; }

div div h2 .fats__button {
  background-color: #e6fbf4;
  font-weight: 900;
  font-size: 2rem; }

div div div div .protein__bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden; }
  div div div div .protein__bg li span {
    font-weight: bold; }

div div div div .carbs__bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden; }
  div div div div .carbs__bg li span {
    font-weight: bold; }

div div div div .fats__bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden; }
  div div div div .fats__bg li span {
    font-weight: bold; }

/*landing calculator---------------------------------*/
#bodyCalculator {
  background-image: url(../img/banner3.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.calculator__container {
  grid-area: calculator;
  background-color: #ecf9f7;
  padding: 30px;
  width: 90%;
  margin: 20px auto; }
  .calculator__container .calculator__title {
    text-align: center; }
  .calculator__container .calculator__items {
    display: flex;
    margin: 20px;
    justify-content: space-around; }
    .calculator__container .calculator__items h5 {
      font-size: 1rem; }
    .calculator__container .calculator__items .calculator__gender {
      text-align: center;
      display: block;
      padding: 60px;
      border-right: grey solid 0.5px; }
      .calculator__container .calculator__items .calculator__gender div .button__style {
        border-radius: 30px;
        margin: 3px; }
    .calculator__container .calculator__items .calculator__age {
      text-align: center;
      padding: 60px;
      border-right: grey solid 0.5px; }
      .calculator__container .calculator__items .calculator__age div input {
        border-radius: 30px;
        margin: 3px;
        padding: 5px;
        border: grey 1px solid;
        text-align: center; }
    .calculator__container .calculator__items .calculator__weight {
      text-align: center;
      padding: 60px;
      border-right: grey solid 0.5px; }
      .calculator__container .calculator__items .calculator__weight .weight {
        display: flex;
        justify-content: center; }
        .calculator__container .calculator__items .calculator__weight .weight div input {
          border-radius: 30px 0 0 30px;
          margin-top: 3px;
          padding: 5px;
          border: grey 1px solid;
          text-align: center; }
        .calculator__container .calculator__items .calculator__weight .weight div p {
          background-color: whitesmoke;
          border-radius: 0 30px 30px 0;
          margin-top: 3px;
          padding: 5px;
          border: grey 1px solid;
          border-left: none;
          text-align: center; }
    .calculator__container .calculator__items .calculator__activity {
      text-align: center;
      padding: 60px;
      border-right: grey solid 0.5px; }
      .calculator__container .calculator__items .calculator__activity div button {
        border-radius: 30px;
        margin: 3px; }
    .calculator__container .calculator__items .calculator__goal {
      text-align: center;
      padding: 60px; }
      .calculator__container .calculator__items .calculator__goal div button {
        border-radius: 30px;
        margin: 3px; }
  .calculator__container .calculator__button {
    display: flex;
    justify-content: center; }
    .calculator__container .calculator__button .button__style {
      background-color: #019980;
      border-radius: 30px;
      color: white;
      padding: 15px;
      border: none;
      font-weight: 600; }
      .calculator__container .calculator__button .button__style:hover {
        background-color: #6f14ed; }

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  border: none;
  padding: 50px;
  margin: 10px;
  text-overflow: none;
  line-height: 1.5; }
  .result h3 {
    padding: 5px; }
    .result h3 .resultCal {
      background-color: yellow;
      height: 1rem;
      padding: 5px; }
  .result ul li .resultCal {
    background-color: yellow;
    height: 1rem;
    padding: 5px; }

.button__allRecipes {
  display: flex;
  padding: 15px;
  justify-content: center; }
  .button__allRecipes a {
    text-decoration: none;
    font-size: 1rem;
    color: white; }
  .button__allRecipes .button__allRecipes1, .button__allRecipes .button__allRecipes2, .button__allRecipes .button__allRecipes3 {
    background-color: #019980;
    border-radius: 30px;
    padding: 15px;
    font-size: .9rem;
    font-weight: 700;
    width: 300px;
    text-align: center;
    margin: 10px;
    margin-bottom: 50px; }
    .button__allRecipes .button__allRecipes1:hover, .button__allRecipes .button__allRecipes2:hover, .button__allRecipes .button__allRecipes3:hover {
      background-color: #6f14ed; }

.faqs {
  text-align: center;
  font-weight: 900; }

/*landing shop------------------------------------*/
#categorieShop {
  display: flex;
  justify-content: center;
  width: 85%;
  margin: 10px auto; }
  #categorieShop .cat4, #categorieShop .cat5, #categorieShop .cat6 {
    background-color: #019980;
    padding: 8%;
    margin: 20px;
    transition: all 0.2s ease; }
    #categorieShop .cat4:hover, #categorieShop .cat5:hover, #categorieShop .cat6:hover {
      background-color: #005648;
      transform: scale(1.08); }
      #categorieShop .cat4:hover img, #categorieShop .cat5:hover img, #categorieShop .cat6:hover img {
        opacity: .2; }
      #categorieShop .cat4:hover h2, #categorieShop .cat5:hover h2, #categorieShop .cat6:hover h2 {
        opacity: 1; }
    #categorieShop .cat4 h2, #categorieShop .cat5 h2, #categorieShop .cat6 h2 {
      opacity: 0;
      display: hidden;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 30px;
      color: white;
      font-weight: 500;
      font-size: 1.6rem;
      z-index: 100; }

.discount__banner {
  background-image: url(../img/calculator-banner2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: #005648;
  padding: 20px; }
  .discount__banner h1 {
    font-size: 6rem;
    font-weight: 900;
    text-shadow: 7px 7px 1px #019980; }
  .discount__banner h2 {
    font-size: 3rem;
    font-style: italic;
    font-weight: 700;
    text-shadow: 4px 4px 1px #019980; }
  .discount__banner .discount__sm__banner {
    background-color: #ecf9f7;
    width: 600px;
    margin: auto;
    padding: 10px; }
    .discount__banner .discount__sm__banner h3 {
      padding: 15px;
      color: #005648;
      font-size: 1rem;
      font-weight: 400; }
      .discount__banner .discount__sm__banner h3 span {
        background-color: transparent;
        border: #005648 solid 1px;
        padding: 15px;
        color: #005648;
        font-weight: 700;
        border-radius: 30px;
        font-size: 1.2rem; }
    .discount__banner .discount__sm__banner p {
      padding: 10px;
      color: #005648; }

/*main landing recipes---------------------------------*/
.banner__recipes {
  display: flex; }
  .banner__recipes .title__lowcalories {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/lowcalories-banner-recipes.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 500px;
    position: relative; }
    .banner__recipes .title__lowcalories .title__text__recipes {
      color: white;
      font-size: 4rem;
      font-weight: bolder;
      font-family: 'Roboto';
      text-align: center;
      opacity: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .banner__recipes .title__highprotein {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/highprotein-banner-recipes.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 500px;
    position: relative; }
    .banner__recipes .title__highprotein .title__text__recipes {
      color: white;
      font-size: 4rem;
      font-weight: bolder;
      font-family: 'Roboto';
      text-align: center;
      opacity: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .banner__recipes .title__lowfat {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/lowfat-banner-recipes.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 500px;
    position: relative; }
    .banner__recipes .title__lowfat .title__text__recipes {
      color: white;
      font-size: 4rem;
      font-weight: bolder;
      font-family: 'Roboto';
      text-align: center;
      opacity: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .banner__recipes .text__recipes {
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    padding: 50px;
    font-size: 1.2rem;
    text-align: justify; }

.recipes__cards {
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ecf9f7; }
  .recipes__cards .card {
    margin: 10px;
    border-radius: 0; }
    .recipes__cards .card img {
      border-radius: 0; }
  .recipes__cards div div .recipe-title {
    font-weight: bold;
    font-size: 1.2rem; }

.check__also {
  text-align: center;
  padding: 20px; }

.other__categories {
  display: flex;
  justify-content: center; }
  .other__categories a .landing__recipes {
    height: 250px;
    width: 250px;
    margin: 20px;
    padding: 0px; }
    .other__categories a .landing__recipes img {
      width: 8rem; }

/*all landing recipes---------------------------------*/
.mainRecipes {
  width: 80%;
  margin: auto; }
  .mainRecipes .recipe__main__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px; }
    .mainRecipes .recipe__main__container .recipe__picture {
      width: 50%;
      position: relative; }
      .mainRecipes .recipe__main__container .recipe__picture img {
        width: 100%; }
      .mainRecipes .recipe__main__container .recipe__picture h3 {
        background-color: #019980;
        color: white;
        font-size: 1rem;
        font-weight: normal;
        width: fit-content;
        padding: 7px;
        position: absolute;
        top: 20%;
        left: 20%;
        transform: translate(-50%, -50%); }
    .mainRecipes .recipe__main__container .recipe__title {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      margin-bottom: 7px;
      margin: 10px; }
      .mainRecipes .recipe__main__container .recipe__title h2 {
        font-size: 3.5rem;
        padding: 15px;
        text-align: end; }
      .mainRecipes .recipe__main__container .recipe__title h4 {
        font-size: 1rem;
        padding: 5px; }
      .mainRecipes .recipe__main__container .recipe__title p {
        font-weight: lighter;
        color: grey;
        font-size: 1rem;
        padding: 10px;
        width: 100%;
        text-align: justify; }
      .mainRecipes .recipe__main__container .recipe__title a {
        font-size: 0,7rem;
        text-align: end;
        font-style: italic;
        color: black;
        font-weight: 300; }
      .mainRecipes .recipe__main__container .recipe__title .recipe__title__macros {
        display: flex; }
        .mainRecipes .recipe__main__container .recipe__title .recipe__title__macros .recipe__protein {
          background-color: #abf7df;
          padding: 12px;
          margin: 5px; }
        .mainRecipes .recipe__main__container .recipe__title .recipe__title__macros .recipe__carbs {
          background-color: #c7fbea;
          padding: 12px;
          margin: 5px; }
        .mainRecipes .recipe__main__container .recipe__title .recipe__title__macros .recipe__fats {
          background-color: #e6fbf4;
          padding: 12px;
          margin: 5px; }
  .mainRecipes .recipe__primary__container {
    display: flex;
    background-color: whitesmoke;
    height: 500px;
    padding: 50px; }
    .mainRecipes .recipe__primary__container .ingredients {
      width: 30%;
      border: 1px solid grey;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin: 15px;
      overflow-y: scroll; }
      .mainRecipes .recipe__primary__container .ingredients p {
        font-style: italic; }
    .mainRecipes .recipe__primary__container .steps {
      width: 70%;
      margin: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: justify;
      overflow-y: scroll; }
      .mainRecipes .recipe__primary__container .steps .shop-ingredient {
        background-color: whitesmoke;
        border: #019980 1px solid;
        padding: 10px;
        margin: 15px;
        text-align: center; }
        .mainRecipes .recipe__primary__container .steps .shop-ingredient a {
          color: #019980;
          text-decoration: none;
          font-size: 1rem;
          font-weight: bold; }
          .mainRecipes .recipe__primary__container .steps .shop-ingredient a:hover {
            color: grey; }
      .mainRecipes .recipe__primary__container .steps p span {
        font-weight: bold; }
  .mainRecipes .recipe__secondary__container {
    text-align: center;
    margin: 30px; }
    .mainRecipes .recipe__secondary__container a {
      text-decoration: none;
      background-color: #019980;
      color: white;
      font-weight: 500;
      font-size: 1.2rem;
      padding: 15px;
      border-radius: 30px; }
      .mainRecipes .recipe__secondary__container a:hover {
        background-color: #6f14ed; }
  .mainRecipes .recipe__third__container {
    margin-bottom: 30px; }
    .mainRecipes .recipe__third__container div h2 {
      text-align: center;
      font-weight: lighter;
      margin-top: 70px; }
    .mainRecipes .recipe__third__container .recipe__options {
      display: flex;
      justify-content: center; }
      .mainRecipes .recipe__third__container .recipe__options .recipe__option__1 {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; }
        .mainRecipes .recipe__third__container .recipe__options .recipe__option__1 img {
          width: 80%;
          padding: 10px; }
        .mainRecipes .recipe__third__container .recipe__options .recipe__option__1 a {
          color: black; }
      .mainRecipes .recipe__third__container .recipe__options .recipe__option__2 {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; }
        .mainRecipes .recipe__third__container .recipe__options .recipe__option__2 img {
          width: 80%;
          padding: 10px; }
        .mainRecipes .recipe__third__container .recipe__options .recipe__option__2 a {
          color: black; }

/*all landing shop------------------------------------*/
.mainShop {
  width: 90%;
  margin: auto; }
  .mainShop .basket__container {
    display: flex;
    justify-content: flex-end;
    margin: 30px; }
    .mainShop .basket__container .basket__items {
      display: flex;
      width: fit-content;
      padding: 10px;
      border: black solid 0.5px;
      border-radius: 5px; }
      .mainShop .basket__container .basket__items p {
        margin: 5px; }
      .mainShop .basket__container .basket__items svg {
        margin: 5px; }
  .mainShop .shop__main__container {
    display: flex;
    margin: 15px;
    padding: 15px;
    justify-content: space-around;
    align-items: center; }
    .mainShop .shop__main__container .shop__picture {
      width: 50%; }
      .mainShop .shop__main__container .shop__picture img {
        width: 100%; }
    .mainShop .shop__main__container .shop__title {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding: 30px;
      align-items: flex-end;
      text-align: justify; }
      .mainShop .shop__main__container .shop__title p {
        color: grey; }
      .mainShop .shop__main__container .shop__title div .buy__now__style {
        background-color: yellow;
        padding: 15px;
        border: none;
        text-decoration: none;
        font-size: 1rem;
        color: black;
        font-weight: 600;
        border-radius: 30px; }
        .mainShop .shop__main__container .shop__title div .buy__now__style:hover {
          background-color: #6f14ed;
          color: white; }
    .mainShop .shop__main__container .shop__icons {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
      margin-bottom: 10px; }
      .mainShop .shop__main__container .shop__icons .heart {
        margin: 5px;
        padding: 10px; }
        .mainShop .shop__main__container .shop__icons .heart:hover {
          color: red;
          cursor: pointer; }
      .mainShop .shop__main__container .shop__icons .cart {
        margin: 5px;
        padding: 10px; }
        .mainShop .shop__main__container .shop__icons .cart:hover {
          color: #026202;
          cursor: pointer; }
      .mainShop .shop__main__container .shop__icons .share {
        margin: 5px;
        padding: 10px; }
        .mainShop .shop__main__container .shop__icons .share:hover {
          color: #0502a3;
          cursor: pointer; }
  .mainShop .shop__primary__container .product__description {
    background-color: whitesmoke;
    display: block;
    padding: 20px;
    text-align: justify; }
  .mainShop .shop__secondary__container {
    margin-bottom: 50px; }
    .mainShop .shop__secondary__container .other__categorie__shop {
      display: flex;
      width: 100%;
      justify-content: center; }
      .mainShop .shop__secondary__container .other__categorie__shop .categorie_1 {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: #019980;
        margin: 10px;
        padding: 30px; }
        .mainShop .shop__secondary__container .other__categorie__shop .categorie_1 a {
          text-decoration: none; }
          .mainShop .shop__secondary__container .other__categorie__shop .categorie_1 a h5 {
            padding: 8px;
            text-align: center;
            color: white; }
        .mainShop .shop__secondary__container .other__categorie__shop .categorie_1:hover {
          background-color: #005648;
          transform: scale(1.08); }
      .mainShop .shop__secondary__container .other__categorie__shop .categorie_2 {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: #019980;
        margin: 10px;
        padding: 30px; }
        .mainShop .shop__secondary__container .other__categorie__shop .categorie_2 a {
          text-decoration: none; }
          .mainShop .shop__secondary__container .other__categorie__shop .categorie_2 a h5 {
            padding: 8px;
            text-align: center;
            color: white; }
        .mainShop .shop__secondary__container .other__categorie__shop .categorie_2:hover {
          background-color: #005648;
          transform: scale(1.08); }

footer {
  border-top: #b1b0b0 1px solid;
  color: black;
  padding-top: 15px; }
  footer h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    padding-bottom: 1.5rem; }
  footer .social {
    display: flex;
    justify-content: center; }
    footer .social img {
      width: 4rem;
      padding-inline: 1rem;
      margin-top: 10%;
      margin-bottom: 15%; }

/* responsive */
/*responsive tablet horizontal */
@media screen and (max-width: 934px) {
  .container1 {
    margin: 7px;
    grid-template-columns: repeat 2, 1fr;
    grid-template-rows: repeat 7, 1fr;
    grid-template-areas: "recipes recipes" "cat1 cat1" "cat2 cat2" "cat3 cat3" "newsletter newsletter" "news news" "news news"; }
    .container1 .recipes {
      padding: 5%; }
    .container1 .cat1, .container1 .cat2, .container1 .cat3 {
      margin: 15px; }
  .banner__recipes {
    display: block; }
    .banner__recipes .title__lowcalories, .banner__recipes .title__highprotein, .banner__recipes .title__lowfat {
      width: 100%; }
    .banner__recipes .text__recipes {
      width: 100%;
      margin: 20px auto;
      padding: 3%;
      height: fit-content; }
  .recipes__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "card1 card2" "card3 card4";
    gap: 10px; }
    .recipes__cards .card1 {
      grid-area: card1; }
    .recipes__cards .card2 {
      grid-area: card2; }
    .recipes__cards .card3 {
      grid-area: card3; }
    .recipes__cards .card4 {
      grid-area: card4; }
    .recipes__cards .card {
      margin: auto; }
  .result {
    padding: 5%;
    background-color: transparent; }
    .result .resultList {
      position: relative;
      left: auto;
      top: auto;
      background-color: white;
      text-align: start;
      background-color: transparent; }
  .row__recipes {
    display: block; }
  #categorieShop {
    flex-direction: column;
    width: 100%;
    padding: 5px;
    margin: 5px;
    align-items: center; }
    #categorieShop .cat4, #categorieShop .cat5, #categorieShop .cat6 {
      padding: 25%; }
  .mainRecipes {
    width: 100%; }
    .mainRecipes .recipe__main__container {
      display: block;
      margin: 0;
      padding: 0; }
      .mainRecipes .recipe__main__container .recipe__picture {
        width: 100%;
        text-align: center;
        height: auto; }
        .mainRecipes .recipe__main__container .recipe__picture img {
          width: 80%; }
      .mainRecipes .recipe__main__container .recipe__title {
        width: 100%;
        align-items: center;
        margin: 0; }
        .mainRecipes .recipe__main__container .recipe__title p {
          width: 90%; }
        .mainRecipes .recipe__main__container .recipe__title h2 {
          text-align: center; }
  .mainShop {
    width: 100%; }
    .mainShop .shop__main__container {
      display: block; }
      .mainShop .shop__main__container .shop__picture {
        width: 100%; }
        .mainShop .shop__main__container .shop__picture img {
          width: 100%; }
      .mainShop .shop__main__container .shop__title {
        width: 100%;
        align-items: flex-start; }
      .mainShop .shop__main__container .shop__icons {
        display: flex;
        justify-content: flex-start; }
    .mainShop .shop__primary__container .product__description {
      background-color: whitesmoke;
      display: block;
      padding: 20px;
      text-align: justify; }
      .mainShop .shop__primary__container .product__description p {
        padding: 10px; }
  .calculator__container .calculator__items {
    flex-direction: column; }
    .calculator__container .calculator__items .calculator__gender, .calculator__container .calculator__items .calculator__age, .calculator__container .calculator__items .calculator__weight, .calculator__container .calculator__items .calculator__activity, .calculator__container .calculator__items .calculator__goal {
      padding: 10px;
      border: none; }
    .calculator__container .calculator__items .calculator__gender {
      align-items: center; }
      .calculator__container .calculator__items .calculator__gender div {
        width: fit-content;
        padding: 0; } }

/*responsive tablet vertical */
@media screen and (max-width: 768px) {
  .mainCD {
    display: block;
    margin: 0; }
  .nutriInfo {
    margin: 0;
    padding: 50px; }
    .nutriInfo h1 {
      font-size: 3rem;
      margin-bottom: 40px; }
    .nutriInfo h2 {
      text-align: justify; }
    .nutriInfo .info1 .nutri__text {
      padding: 0;
      margin: 0; }
    .nutriInfo img {
      display: none; }
  .info h1 {
    margin: 4px;
    padding: 7px;
    text-align: center;
    font-size: 3rem; }
  .recipes__cards {
    display: block;
    margin: auto;
    padding: 20px; }
    .recipes__cards .card {
      margin-top: 20px; }
  .other__categories {
    flex-direction: column;
    align-items: center; }
    .other__categories .landing__recipes {
      height: 200px;
      width: 320px;
      margin: 15px;
      padding: 0px; }
  .recipe__picture h3 {
    top: 30%;
    left: 30%; }
  .mainShop .shop__secondary__container {
    margin-bottom: 50px; }
    .mainShop .shop__secondary__container .other__categorie__shop {
      flex-direction: column; }
      .mainShop .shop__secondary__container .other__categorie__shop .categorie_1, .mainShop .shop__secondary__container .other__categorie__shop .categorie_2 {
        width: 100%;
        align-items: center;
        justify-content: center; }
  .button__allRecipes {
    flex-direction: column;
    align-items: center; }
    .button__allRecipes .button__allRecipes1, .button__allRecipes .button__allRecipes2 {
      margin-bottom: 3px;
      padding: 15px; }
  .discount__banner .discount__sm__banner {
    width: fit-content; } }

/*responsive mobile*/
@media screen and (max-width: 428px) {
  p {
    margin: 0 auto;
    padding: 0; }
  h2 {
    text-align: center;
    padding: 20px;
    font-weight: normal; }
  .title {
    width: 300px; }
  .mainCD .info {
    padding: 5%; }
    .mainCD .info img {
      height: 300px;
      width: auto; }
  .nutriInfo {
    padding: 5%; }
    .nutriInfo p {
      margin-bottom: 40px; }
    .nutriInfo .accordion h2 {
      padding: 0; }
  .mainRecipes .recipe__primary__container {
    margin-left: 0;
    display: block;
    height: auto;
    padding: 20px;
    margin: auto; }
    .mainRecipes .recipe__primary__container .ingredients {
      width: 100%;
      margin: 0;
      padding: 0;
      overflow: visible; }
    .mainRecipes .recipe__primary__container .steps {
      width: 100%;
      margin: 0;
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 0;
      overflow: visible; }
  .mainRecipes .recipe__third__container div h2 {
    margin-top: 70px; }
  .mainRecipes .recipe__third__container .recipe__options {
    display: block; }
    .mainRecipes .recipe__third__container .recipe__options .recipe__option__1 {
      width: 100%;
      display: block;
      text-align: center; }
      .mainRecipes .recipe__third__container .recipe__options .recipe__option__1 img {
        width: 100%;
        padding: 10px; }
    .mainRecipes .recipe__third__container .recipe__options .recipe__option__2 {
      width: 100%;
      display: block;
      text-align: center; }
      .mainRecipes .recipe__third__container .recipe__options .recipe__option__2 img {
        width: 100%;
        padding: 10px; }
  .mainShop {
    width: 100%; }
    .mainShop .shop__main__container .shop__variations {
      margin-top: 15px; }
    .mainShop .shop__main__container .shop__title {
      padding: 10px; }
  .discount__banner h1 {
    font-size: 3.5rem; }
  .discount__banner h2 {
    font-size: 1.7rem; }
  .discount__banner h3 {
    font-size: 1rem;
    padding: 10px; }
    .discount__banner h3 span {
      padding: 5px;
      font-size: 1rem; } }

@media screen and (max-width: 380px) {
  .protein__bg a {
    text-align: left; }
  .carbs__bg a {
    text-align: left; }
  .fats__bg a {
    text-align: left; } }
