/*index------------------------------------------*/

main{
    div{
        div{
            div{
                .banner1{
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;
                    min-height: 500px;
                    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner3.jpeg");
                    .title{
                        position:absolute;
                        padding: 20px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius:5px;
                        h1{             
                            font-family:'Roboto', sans-serif;
                            font-size: 4rem;
                            font-weight: bolder;
                            color: white;
                            text-align: center;
                            .title__button{
                                background-color: $color_green;
                                border-radius: 30px;
                                color: white;
                                text-decoration: none;
                                font-size: 1rem;
                                &:hover{
                                    background-color: $color_purple;
                                }
                            }
                        }
                    }
                }
                .banner2{
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;
                    min-height: 500px;
                    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/whey-protein-banner.jpeg");
                    .title{
                        position:absolute;
                        padding: 20px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius:5px;
                        h1{
                            font-family:'Roboto', sans-serif;
                            font-size: 4rem;
                            font-weight: bolder;
                            color: white;
                            text-align: center;
                            .button-shop{
                                background-color: yellow;
                                border-radius: 30px;
                                color: black;
                                text-decoration: none;
                                font-size: 1rem;
                                &:hover{
                                    background-color: $color_purple;
                                    color: white;
                                }
                            }
                        }
                    } 
                }
            }
        }
    }
}
/* section index*/

.container1{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat (6, 1fr);
    grid-template-rows: repeat (3, 1fr);
    grid-template-areas:
    "recipes recipes recipes recipes recipes recipes"
    "cat1 cat1 cat2 cat2 cat3 cat3"
    "newsletter newsletter newsletter newsletter newsletter newsletter";
    .recipes{
        grid-area: recipes;
        h2{
            font-family:'Roboto', sans-serif;
            font-size: 1.5rem;
            color: black;
            font-weight: normal;
            text-align: center;
            padding: 2%;
        }
    }
    .cat1{
        height: auto;
        grid-area: cat1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $color_green;
        padding: 15%;
        margin: 12px;
        transition: all 0.2s ease;
        &:hover{
            background-color: $color_green_dark;
            transform: scale(1.08);
        }
    }
    .cat2{
        height: auto;
        grid-area: cat2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $color_green;
        padding: 15%;
        margin: 12px;
        transition: all 0.2s ease;
        &:hover{
            background-color: $color_green_dark;
            transform: scale(1.08);
        }
    }
    .cat3{
        height: auto;
        grid-area: cat3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $color_green;
        padding: 15%;
        margin: 12px;
        transition: all 0.2s ease;
        &:hover{
            background-color: $color_green_dark;
            transform: scale(1.08);
        }
    }
}
.newsletter{
    height: auto;
    grid-area: newsletter;
    padding: 3%;
    #newsletter{
        background-color: white;
        text-align: center;
        align-content: center;
        padding: 2%;
        color: black;
        font-weight: lighter;
        font-family:'Roboto', sans-serif;
        .containernews1{
            h3{
                font-size: 3rem;
                color: black;
                font-weight: lighter;
            }
            p{
                font-weight: lighter;
            }
        }
        .containernews2{
            input{
                margin-inline: 1.3rem;
                margin-top: 1.5%;
                border: double;
                border-color: $color_green;
                padding: 0.5rem;
                width: 17rem;
                background-color: white;
            }
        }
        .containernews3{
            input{
                margin-top: 3%;
                font-size: 1rem;
                background-color: grey;
                border-radius: 30px;
                border: none;
                color:  white;
                padding: 0.8rem;
                width: 10rem;
                font-size: 1rem;
                font-weight: bold;
                &:hover{
                    background-color: $color_purple;
                    color: white;
                }
            }
        }
    }
}

/*landing calorie deficit-------------------------*/

.mainCD{
    display: grid;
    margin: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr auto auto;
    grid-template-areas: 
    "info info info info calculator calculator"
    "recipes2 recipes2 recipes2 recipes2 recipes2 recipes2"
    "cat1 cat1 cat2 cat2 cat3 cat3";
    .info{
        grid-area: info;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        font-family:'Roboto', sans-serif;
        h1{
            margin-bottom: 50px;
        }
        img{
            height: 600px;
            padding: 25px;
        }
        p{
            text-align: justify;
        }
        li{
            width: 80%;
            padding: 10px;
            span{
                font-weight: bold;
            }
        }
    }
}
.recipes2{
    grid-area: recipes2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
    height: 130px;
}
.calorie_landing{
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        background-color: $color_green;
        padding: 15px;
        color: white;
        border-radius: 30px;
        text-decoration: none;
        font-weight: 600;
        font-size: 1rem;
        &:hover{
            background-color: $color_purple;
        }
    }
}
#calculator__landingCalorie{
    flex-direction: column;
    .calculator__items{ 
        margin-top: 70px;
        flex-direction: column;
        .calculator__gender,.calculator__age,.calculator__weight,.calculator__activity,.calculator__goal{
            padding: 20px;
            border: none;
        }
        .calculator__gender{
            align-items: center;
            div{
                width: fit-content;
                padding: 0;
            }
        }
    } 
}
.cat1{
    height: auto;
    grid-area: cat1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $color_green;
    padding: 15%;
    margin: 12px;
    transition: all 0.2s ease;
    &:hover{
        background-color: $color_green_dark;
        transform: scale(1.08);
    }
}
.cat2{
    height: auto;
    grid-area: cat2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $color_green;
    padding: 15%;
    margin: 12px;
    transition: all 0.2s ease;
    &:hover{
        background-color: $color_green_dark;
        transform: scale(1.08);
    }
}
.cat3{
    height: auto;
    grid-area: cat3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $color_green;
    padding: 15%;
    margin: 12px;
    transition: all 0.2s ease;
    &:hover{
        background-color: $color_green_dark;
        transform: scale(1.08);
    }
}

/*landing nutritional info---------------------------------*/

.nutriInfo{
    text-align: justify;
    margin: 50px;
    font-family: 'Roboto', sans-serif;
    h1{
        margin: 40px;
        color: black;
    }
    h2{
        color: rgb(68, 67, 67);
        font-size: 1.3rem;
        
        span{
            font-weight: bold;
        }
    }
}
div{
    div{
        h2{
            .protein__button{
                background-color: $color_proteins;
                font-weight: 900;
                font-size: 2rem;
            }
            .carbs__button{
                background-color: $color_carbs;
                font-weight: 900;
                font-size: 2rem;
            }
            .fats__button{
                background-color: $color_fats;
                font-weight: 900;
                font-size: 2rem;
            }
        }
        div{
            div{
                .protein__bg{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    overflow: hidden;
                    li{
                        span{
                            font-weight: bold;
                        }
                    }
                }
                .carbs__bg{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    overflow: hidden;
                    li{
                        span{
                            font-weight: bold;
                        }
                    }
                }
                .fats__bg{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    overflow: hidden;
                    li{
                        span{
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

/*landing calculator---------------------------------*/

#bodyCalculator{
    background-image: url(../img/banner3.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.calculator__container{
    grid-area: calculator;
    background-color: #ecf9f7;
    padding: 30px;
    width: 90%;
    margin: 20px auto;
    .calculator__title{
        text-align: center;
    }
    .calculator__items{
        h5{
            font-size: 1rem;
        }
        display: flex;
        margin: 20px;
        justify-content: space-around;
        .calculator__gender{
            text-align: center;
            display: block;
            padding: 60px;
            border-right: grey solid 0.5px;
            div{
                .button__style{
                    border-radius: 30px;
                    margin: 3px;
                }
            }
        }
        .calculator__age{
            text-align: center;
            padding: 60px;
            border-right: grey solid 0.5px;
            div{
                input{
                    border-radius: 30px;
                    margin: 3px;
                    padding: 5px;
                    border: grey 1px solid;
                    text-align: center;
                }
                
            }
        }
        .calculator__weight{
            text-align: center;
            padding: 60px;
            border-right: grey solid 0.5px;
            .weight{
                display: flex;
                justify-content: center;
                div{
                    input{
                        border-radius: 30px 0 0 30px;
                        margin-top: 3px;
                        padding: 5px;
                        border: grey 1px solid;
                        text-align: center;
                    }
                }
                div{
                    p{
                        background-color: whitesmoke;
                        border-radius: 0 30px 30px 0;
                        margin-top: 3px;
                        padding: 5px;
                        border: grey 1px solid;
                        border-left: none;
                        text-align: center;
                    }
                }
                
            }
        }
        .calculator__activity{
            text-align: center;
            padding: 60px;
            border-right: grey solid 0.5px;
            div{
                button{
                    border-radius: 30px;
                    margin: 3px;
                }
            }
        }
        .calculator__goal{
            text-align: center;
            padding: 60px;
            div{
                button{
                    border-radius: 30px;
                    margin: 3px;
                }
            }
        }
    }
    .calculator__button{
        display: flex;
        justify-content: center;
        .button__style{
            background-color: $color_green;
            border-radius: 30px;
            color: white;
            padding: 15px;
            border: none;
            font-weight: 600;
            &:hover{
                background-color: $color_purple;
            }
        }
    }
}
.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    border: none;
    padding: 50px;
    margin: 10px;
    text-overflow: none;
    line-height: 1.5;
    h3{
        padding: 5px;
        .resultCal{
            background-color: yellow;
            height: 1rem;
            padding: 5px;
        }
    }
    ul{
        li{
            .resultCal{
                background-color: yellow;
                height: 1rem;
                padding: 5px;
            }
        }
    }
}
.button__allRecipes{
    display: flex;
    padding: 15px;
    justify-content: center;
    a{
        text-decoration: none;
        font-size: 1rem;
        color: white;
    }
    .button__allRecipes1, .button__allRecipes2, .button__allRecipes3{
        background-color:$color_green;
        border-radius: 30px;
        padding: 15px;
        font-size: .9rem;
        font-weight: 700;
        width: 300px;
        text-align: center;
        margin: 10px;
        margin-bottom: 50px;
        &:hover{
            background-color: $color_purple;
        }
    }
}
.faqs{
    text-align: center;
    font-weight: 900;
}

/*landing shop------------------------------------*/

.main__shop{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px;
    .shakers__banner{
        margin: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 30%;
        min-height: 400px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/shaker-banner.webp);
        &:hover{
            transform: scale(1.05);
            background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/shaker-banner.webp);
            .title__shop{
                background-color: white;
                color: black;
            }
        }
        .title__shop{
            text-align: center;
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2rem;
            color: white;
            font-weight: 500;
        }
    }
    .whey__banner{
        margin: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 30%;
        min-height: 400px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/wheyprotein-banner.webp);
        &:hover{
            transform: scale(1.05);
            background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/wheyprotein-banner.webp);
            .title__shop{
                background-color: white;
                color: black;
            }
        }
        .title__shop{
            text-align: center;
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2rem;
            color: white;
            font-weight: 500;
        }
    }
    .scales__banner{
        margin: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 30%;
        min-height: 400px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/scales-banner.jpeg);
        &:hover{
            transform: scale(1.05);
            background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/scales-banner.jpeg);
            .title__shop{
                background-color: white;
                color: black;
            }
        }
        .title__shop{
            text-align: center;
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2rem;
            color: white;
            font-weight: 500;
        }
    }
}

/*main landing recipes---------------------------------*/

.banner__recipes{
    display: flex;
    .title__lowcalories{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/lowcalories-banner-recipes.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 50%;
        height: 500px;
        position: relative;
        .title__text__recipes{
            color: white;
            font-size: 4rem;
            font-weight: bolder;
            font-family: 'Roboto';
            text-align: center;
            opacity: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .title__highprotein{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/highprotein-banner-recipes.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 50%;
        height: 500px;
        position: relative;
        .title__text__recipes{
            color: white;
            font-size: 4rem;
            font-weight: bolder;
            font-family: 'Roboto';
            text-align: center;
            opacity: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .title__lowfat{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/lowfat-banner-recipes.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 50%;
        height: 500px;
        position: relative;
        .title__text__recipes{
            color: white;
            font-size: 4rem;
            font-weight: bolder;
            font-family: 'Roboto';
            text-align: center;
            opacity: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .text__recipes{
        width: 50%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: grey;
        padding: 50px;
        font-size: 1.2rem;
        text-align: justify;
    }
}
.recipes__cards{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    .card{
        margin: 10px;
    }
    div{
        div{
            .recipe-title{
                font-weight: bold;
                font-size: 1.2rem;
            }
        }
    }
}
.check__also{
    text-align: center;
    padding: 20px;
}
.other__categories{
    display: flex;
    justify-content: center;
    a{
        .landing__recipes{
            height: 250px;
            width: 250px;
            margin: 20px;
            padding: 0px;
            img{
                width: 8rem;
            }
        }
    }
}

/*all landing recipes---------------------------------*/

.mainRecipes{
    width: 80%;
    margin: auto;
    .recipe__main__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
        .recipe__picture{
            width: 50%;
            position: relative;
            img{
                width: 100%;
            }
            h3{
                background-color: $color_green;
                color: white;
                font-size: 1rem;
                font-weight: normal;
                width: fit-content;
                padding: 7px;
                position: absolute;
                top: 20%;
                left: 20%;
                transform: translate(-50%, -50%);
            }
        }
        .recipe__title{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: 7px;
            margin: 10px;
            h2{
                font-size: 3.5rem;
                padding: 15px;
                text-align: end;
            }
            h4{
                font-size: 1rem;
                padding: 5px;
            }
            p{
                font-weight: lighter;
                color: grey;
                font-size: 1rem;
                padding: 10px;
                width: 100%;
                text-align: justify;
            }
            a{
                font-size: 0,7rem;
                text-align: end;
                font-style: italic;
                color: black;
                font-weight: 300;
            }
            .recipe__title__macros{
                display: flex;
                .recipe__protein{
                    background-color: $color_proteins;
                    padding: 12px;
                    margin: 5px;
                }
                .recipe__carbs{
                    background-color: $color_carbs;
                    padding: 12px;
                    margin: 5px;
                }
                .recipe__fats{
                    background-color: $color_fats;
                    padding: 12px;
                    margin: 5px;
                }
            }
        }
    }
    .recipe__primary__container{
        display: flex;
        background-color:whitesmoke;
        height: 500px;
        padding: 50px;
        .ingredients{
            width: 30%;
            border: 1px solid grey;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin: 15px;
            overflow-y: scroll;
            p{
                font-style: italic;
            }
        }
        .steps{
            width: 70%;
            margin: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: justify;
            overflow-y:scroll;
            .shop-ingredient{
                background-color: whitesmoke;
                border: $color_green 1px solid;
                padding: 10px;
                margin: 15px;
                text-align: center;
                a{
                    color: $color_green;
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: bold;
                    &:hover{
                        color: grey;
                    }
                }
            }
            p{
                span{
                    font-weight: bold;
                }
            }
        }
    }
    .recipe__secondary__container{
        text-align: center;
        margin: 30px;
        a{
            text-decoration: none;
            background-color: $color_green;
            color: white;
            font-weight: 500;
            font-size: 1.2rem;
            padding: 15px;
            border-radius: 30px;
            &:hover{
                background-color: white;
                color: $color_green;
            }
        }
    }
    .recipe__third__container{
        margin-bottom: 30px;
        div{
            h2{
                text-align: center;
                font-weight: lighter;
                margin-top: 70px;
            }
        }
        .recipe__options{
            display: flex;
            justify-content: center;
            .recipe__option__1{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                img{
                    width: 80%;
                    padding: 10px;
                }
                a{
                    color: black;
                }
            }
            .recipe__option__2{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                img{
                    width: 80%;
                    padding: 10px;
                }
                a{
                    color: black;
                }
            }
        }
    }
}

/*all landing shop------------------------------------*/

.mainShop{
    width: 90%;
    margin: auto;
    .basket__container{
        display: flex;
        justify-content: flex-end;
        margin: 30px;
        .basket__items{
            display: flex;
            width: fit-content;
            padding: 10px;
            border: black solid 0.5px;
            border-radius: 5px;
            p{
                margin: 5px;
            }
            svg{
                margin: 5px;
            }
        }   
    }
    .shop__main__container{
        display: flex;
        margin: 15px;
        padding: 15px;
        justify-content: space-around;
        align-items: center;
        .shop__picture{
            width: 50%;
            img{
                width: 100%;
            }
        }
        .shop__title{
            width: 50%;
            display: flex;
            flex-direction: column;
            padding: 30px;
            align-items: flex-end;
            text-align: justify;
            p{
                color: grey;
            }
            div{
                .buy__now__style{
                    background-color: yellow;
                    padding: 15px;
                    border: none;
                    text-decoration: none;
                    font-size: 1rem;
                    color: black;
                    font-weight: 600;
                    border-radius: 30px;
                    &:hover{
                        background-color: $color_purple;
                        color: white;
                    }
                }
            }
        }
        .shop__icons{
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
            margin-bottom: 10px;
            .heart{
                margin: 5px;
                padding: 10px;
                &:hover{
                    color: red;
                    cursor: pointer;
                }
            }
            .cart{
                margin: 5px;
                padding: 10px;
                &:hover{
                    color: rgb(2, 98, 2);
                    cursor: pointer;
                }
            }
            .share{
                margin: 5px;
                padding: 10px;
                &:hover{
                    color: rgb(5, 2, 163);
                    cursor: pointer;
                }
            }
        }
    }
    .shop__primary__container{
        .product__description{
            background-color: whitesmoke;
            display: block; 
            padding: 20px;
            text-align: justify;
        }
    }
    .shop__secondary__container{
        margin-bottom: 50px;
        .other__categorie__shop{
            display: flex;
            width: 100%;
            .categorie_1{
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                flex-direction: column;
                a{
                    width: 70%;
                    text-align: center;
                    color: black;
                    img{
                        width: 50%;
                        &:hover{
                            opacity: 0.6;
                        }
                    }
                }
            }
            .categorie_2{
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                a{
                    width: 50%;
                    text-align:center;
                    color: black;
                    img{
                        width: 70%;
                        &:hover{
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
    }
}
