$color_purple: rgb(111, 20, 237);
$color_green: #019980;
$color_green_dark: #005648;
$color_proteins: rgb(171, 247, 223);
$color_carbs: rgb(199, 251, 234);
$color_fats: rgb(230, 251, 244);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto';
    h1{
        font-weight: 900;
        font-size: 4rem;
        text-align: center;
    }
}

header{
    .logo{
        img{
            width: 7rem;
        }
    }
}

@import "main";


footer{
    border-top: rgb(177, 176, 176) 1px solid;
    color: black;
    padding-top: 15px;
    h5{
        font-family:'Roboto', sans-serif;
        font-weight: normal;
        display: flex;
        justify-content: center;
        font-size: 1rem;
        padding-bottom: 1.5rem;
    }
    .social{
        display: flex;
        justify-content: center;
        img{
            width: 4rem;
            padding-inline: 1rem;
            margin-top: 10%;
            margin-bottom: 15%;
        }
    }
}

/* responsive */

/*responsive tablet horizontal */
@media screen and (max-width: 934px){
    .container1 {
        margin: 7px;
        grid-template-columns: repeat (2, 1fr);
        grid-template-rows: repeat (7, 1fr);
        grid-template-areas:
        "recipes recipes"
        "cat1 cat1"
        "cat2 cat2"
        "cat3 cat3"
        "newsletter newsletter"
        "news news"
        "news news";
        .recipes{
            padding: 5%;
        }
        .cat1,.cat2,.cat3{
            margin: 15px;
        }
    }
    .banner__recipes{
        display: block;
        .title__lowcalories,.title__highprotein,.title__lowfat{
            width: 100%;
        }
        .text__recipes{
            width: 100%;
            margin: 20px auto;
            padding: 3%;
            height: fit-content;
        }   
    }
    .recipes__cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "card1 card2"
        "card3 card4";
        gap: 10px;
        .card1{
            grid-area: card1;
        }
        .card2{
            grid-area: card2;
        }
        .card3{
            grid-area: card3;
        }
        .card4{
            grid-area: card4;
        }
        .card{
            margin: auto;
        }
    }
    .result{
        padding: 5%;
        background-color: transparent;
        .resultList{
            position: relative;
            left: auto;
            top: auto;
            background-color: white;
            text-align: start;
            background-color: transparent;
        }
    }
    .row__recipes{
        display: block;
    }
    #categorieShop{
        flex-direction: column;
        width: 100%;
        padding: 5px;
        margin: 5px;
        align-items: center;
        .cat4, .cat5, .cat6{
            padding: 25%;
        }
    }
    .mainRecipes{
        width: 100%;
        .recipe__main__container{
            display: block;
            margin: 0;
            padding: 0;
            .recipe__picture{
                width: 100%;
                text-align: center;
                height: auto;
                img{
                    width: 80%;
                }
            }
            .recipe__title{
                width: 100%;
                align-items: center;
                margin: 0;
                p{
                    width: 90%;
                }
                h2{
                    text-align: center;
                }
            }
        }
    }
    .mainShop{
        width: 100%;  

        .shop__main__container{
            display: block;
            .shop__picture{
                width: 100%;
                img{
                    width: 100%;
                }
            }
            .shop__title{
                width: 100%;
                align-items: flex-start;
            }
            .shop__icons{
                display: flex;
                justify-content: flex-start;
            }
        }
        .shop__primary__container{
            .product__description{
                background-color: whitesmoke;
                display: block; 
                padding: 20px;
                text-align: justify;
                p{
                    padding: 10px;
                }
            }
        }
    }
    .calculator__container{
        .calculator__items{ 
            flex-direction: column;
            .calculator__gender,.calculator__age,.calculator__weight,.calculator__activity,.calculator__goal{
                padding: 10px;
                border: none;
            }
            .calculator__gender{
                align-items: center;
                div{
                    width: fit-content;
                    padding: 0;
                }
            }
        } 
    }
}

/*responsive tablet vertical */
@media screen and (max-width: 768px){
    .mainCD{
       display: block;
       margin: 0;
    }
    .nutriInfo{
        margin: 0;
        padding: 50px;
        h1{
            font-size: 3rem;
            margin-bottom: 40px;
        }
        h2{
            text-align: justify;
        }
        .info1{
            .nutri__text{
                padding: 0;
                margin: 0;
            }
        }
        img{
            display: none;
        }
    }
    .info{
        h1{
            margin:4px;
            padding: 7px;
            text-align: center;
            font-size: 3rem;
        }
    }
    .recipes__cards{
        display: block;
        margin: auto;
        padding: 20px;
        .card{
            margin-top: 20px;
        }
    }
    .other__categories{
        flex-direction: column;
        align-items: center;
        .landing__recipes{
            height: 200px;
            width: 320px;
            margin: 15px;
            padding: 0px;
        }
    }
    .recipe__picture{
        h3{
            top: 30%;
            left: 30%;
        }
    }
    .mainShop{
        .shop__secondary__container{
            margin-bottom: 50px;
            .other__categorie__shop{
                flex-direction: column;
                .categorie_1,.categorie_2{
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    .button__allRecipes{
        flex-direction: column;
        align-items: center;
        .button__allRecipes1,.button__allRecipes2 {
            margin-bottom: 3px;
            padding: 15px;
        }
    }
    .discount__banner{
        .discount__sm__banner{
            width: fit-content;
        }
    }
}

/*responsive mobile*/
@media screen and (max-width: 428px){
    p{
        margin: 0 auto;
        padding: 0;
    }
    h2{
        text-align: center;
        padding: 20px;
        font-weight: normal;
    }
    .title{
        width: 300px;
    }
    .mainCD{
        .info{
            padding: 5%;
            img{
                height: 300px;
                width: auto;
            }
        }
    }
    .nutriInfo{
        padding: 5%;
        p{
            margin-bottom: 40px;
        }
        .accordion{
            h2{
                padding: 0;
            }
        }
    }
    .mainRecipes{
        .recipe__primary__container{
            margin-left: 0;
            display: block;
            height: auto;
            padding: 20px;
            margin: auto;
            .ingredients{
                width: 100%;
                margin:0;
                padding: 0;
                overflow:visible;
            }
            .steps{
                width: 100%;
                margin: 0;
                margin-top: 30px;
                margin-bottom: 30px;
                padding: 0;
                overflow: visible;
            }
        }
        .recipe__third__container{
            div{
                h2{
                    margin-top: 70px;
                }
            }
            .recipe__options{
                display: block;
                .recipe__option__1{
                    width: 100%;
                    display: block;
                    text-align: center;
                    img{
                        width: 100%;
                        padding: 10px;
                    }
                }
                .recipe__option__2{
                    width: 100%;
                    display: block;
                    text-align: center;
                    img{
                        width: 100%;
                        padding: 10px;
                    }
                }
            }
        }
    }
    .mainShop{
        width: 100%;
        .shop__main__container{
            .shop__variations{
                margin-top: 15px;
            }
            .shop__title{
                padding: 10px;
            }
        }
    }
    .discount__banner{
        h1{
            font-size: 3.5rem;
        }
        h2{
            font-size: 1.7rem;
        }
        h3{
            font-size: 1rem;
            padding: 10px;
            span{
                padding: 5px;
                font-size: 1rem;
            }
        }
    }
}
@media screen and (max-width: 380px){
    .protein__bg{
        a{
        text-align: left;
        }
    }
    .carbs__bg{
        a{
        text-align: left;
        }
    }
    .fats__bg{
        a{
        text-align: left;
        }
    }
}


