#bodyCalculator{
    background-image: url(../img/banner3.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    font-family: 'Roboto', sans-serif;
    header{
        text-align: center;
        h1{
            font-weight: bold;
        }
    }
    .mainContainer{
        display: flex;
        background-color: rgb(219, 244, 233);
        margin: 20px auto;
        width: 65%;
        .titleContainer{
            width: 40%;
            padding: 25px; 
            border-right: solid black .1px;
            p{
                font-weight: 300;
                text-align: justify;
            }
        }
        .inputsContainer{
            width: 60%;
            padding: 15px;
            .nameContainer{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                .emailInput{
                    background-color: white;
                    border: black solid .5px;
                    margin: 2px;
                    padding: 10px;
                    border-radius: 30px;
                    width: 200px;
                }
            }
            .calculatorContainer{
                padding: 2px;
                margin: auto;
                div{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px;
                    input, .selectors{
                        background-color: white;
                        border: black solid .5px;
                        margin: 2px;
                        padding: 10px;
                        border-radius: 30px;
                        width: 200px;
                    }   
                }
            }
        }
    }
    .sectionCalculator{
            display: flex;
            justify-content: center;
        .buttonCalculate{
            background-color:$color_green;
            border-radius: 30px;
            padding: 15px;
            font-size: .9rem;
            font-weight: 700;
            width: 300px;
            text-align: center;
            margin:10px;
            color: white;
            border: none
        ;
        &:hover{
            background-color: $color_purple;
        }
        }
    }
    section{
        .resultMessage{
            text-align: center;
            margin: 10px auto;
            h2{
                font-size: 2rem;
            }
            h4{
                font-size: 1.2rem;
            }
            p{
                font-size: .9rem;
                margin: 5px;
            }
        }
        .resetButton{
            text-decoration: underline;
            width: fit-content;
            display: flex;
            justify-content: center;
            background-color: transparent;
            color: rgb(109, 23, 179);
            border: transparent;
            margin: auto;
        }
        .noDisplay{
            display: none;
        }
    }
}


//responsive

@media screen and (max-width: 934px) {
    body{
        .mainContainer{
            width: 80%;
        }
    }
}

@media screen and (max-width: 800px) {
    body{
        .mainContainer{
            flex-direction: column;
            align-items: center;
            width: 90%;
            .titleContainer{
                text-align: center;
                border-right: none;
                width: 80%;
                padding: 20px; 
            p{
                font-weight: 300;
                text-align: center;

            }
            }
            .inputsContainer{
                width: 60%;
                padding: 15px;
                .nameContainer{
                    flex-direction: column;
                }
                .calculatorContainer{
                    div{
                        flex-direction: column;
                    }
                }
            }
        }
    }
}


.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    border: none;
    padding: 50px;
    margin: 10px;
    text-overflow: none;
    line-height: 1.5;
    h3{
        padding: 5px;
        .resultCal{
            background-color: yellow;
            height: 1rem;
            padding: 5px;
        }
    }
    ul{
        li{
            .resultCal{
                background-color: yellow;
                height: 1rem;
                padding: 5px;
            }
        }
    }
}
.button__allRecipes{
    display: flex;
    padding: 15px;
    justify-content: center;
    a{
        text-decoration: none;
        font-size: 1rem;
        color: white;
    }
    .button__allRecipes1, .button__allRecipes2, .button__allRecipes3{
        background-color:$color_green;
        border-radius: 30px;
        padding: 15px;
        font-size: .9rem;
        font-weight: 700;
        width: 300px;
        text-align: center;
        margin: 10px;
        margin-bottom: 50px;
        &:hover{
            background-color: $color_purple;
        }
    }
}
.faqs{
    text-align: center;
    font-weight: 900;
}